/* EMPIEZAN ESTILOS GENERALES DE LA PAGINA */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
*{
    font-family: Raleway , sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{}
h1,h2,h3,p{
    font-family: Raleway , sans-serif;
}
h1{
    color: #494738;
}
h2{
    font-size: 45px;
    color: #494738;
}
h3{
    color: #494738;
}
p{
    font-size: 19px;
    color: #494738;
}
.container-fluid{
    padding: 0px;
}
.navbar-brand{
    padding-left: 15px;
}
.navbar ul{
    padding-right: 15px;
}
.navbar ul li a{
    color: #494738;
    font-size: 20px;
}
.navbar li a{
    background-image: linear-gradient(currentColor, currentColor);
   	background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .7s;
}
.navbar li a:hover{
    color: #494738;
    background-size: 100% 3px;
}
.bg-color1{
    background-color: #f6f2cb;
}
.bg-color2{
    background-color: #fcfaea;
}
footer svg{
    color: #494738;
}


/* TERMINAN ESTILOS GENERALES DE LA PAGINA */

/* EMPIEZA INDEX */
.descripcion-index{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.index-wh{
    width: 100%;
    height: 700px;
}
.index-carousel{
    width: 100%;
    height: 700px;
}
.ubicacion{
    display: flex;
    justify-content: center;
    min-height: 100%;
}
.titulo-ubicacion{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* TERMINA INDEX */

/* EMPIEZA NOSOTROS */
.about{
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 100vh;
}
/* TERMINA NOSOTROS */
/* EMPIEZA HABITACIONES */
.descripcion-room{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.room-wh{
    width: 100%;
    height: 700px;
}
.room-carousel{
    width: 100%;
    height: 700px;
}
.titulo-room{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* TERMINA HABITACIONES */
/* EMPIEZA GALERIA */
.gallery img{
    width: 100%;
}
.gallery .col-lg-4{
    margin: 0;
    padding: 15px;
}
.gallery img:hover{
    border: 5px solid white;
}

/* TERMINA GALERIA */

/* EMPIEZA CONTACTO */
.formulario{
    min-height: 100vh;
}



